@font-face {
	font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Light.ttf") format("truetype");
}

*, body {
	padding: 0%;
	margin: 0%;
	font-family: Ubuntu;
}

img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

::-moz-selection { /* Code for Firefox */
    color: #FFFFFF;
    background: #FE8D27;
}

::selection {
    color: #FFFFFF;
    background: #FE8D27;
}

body {
	overflow-x: hidden; 
}

a {text-decoration: none !important;} 

section {
	padding-top:2%;
}

header {
	position: fixed;
	width: 100%;
}

header nav, footer {
	width:100%; 
	height: 40px;
	padding-top:10px; 
	text-align: center;
        z-index:9999999;
} 

header nav a {
	font-size: 140%; 
	padding-top: 5%;  
	padding-right: 5%;  
	padding-left: 5%;  
	font-weight: bold;

	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
 
.navTopo a {
	color: #FFFFFF;
}

.navTopo a:hover {
	color:#015ED7;
}

.navTopo { 
	background-color: #FE8D27;
	text-align: center;
	z-index: 100;
	-webkit-box-shadow: 0 1px 10px 4px #ED7C14;
	box-shadow: 0 1px 10px 4px #ED7C14;
}
 
.navForaTopo a {
	color: #ffffff;	
	background-color: #FE8D27;
}

footer {
	color: #ffffff;	
	background-color: #FE8D27;
}

footer {
	clear: both; 
}

#logo {
	width:45%;
	margin-top: 3%;
	margin-left: 5%;
	float:left;
}

#div-lateral {
	width:40%; 
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 13%;
	float: right;
	text-align: center;
	color: #015ED7;
}

#div-lateral h1 {
	font-size: 500%;
}

#div-lateral h4 {
	font-size: 250%;
}

#div-lateral h5 {
	font-size: 200%;
        color: #FE8D27;
}

.call {
	width: 40%;
	height: 15%;
	display: inline-flex; 
	border: 1px solid #FE8D27;  
	margin: 2%;
} 

#arrow {
	display: none;
}

.call p {
	margin: auto;
	font-weight: bold;
}

.buttonDiv:hover div { 
	background-color: #FE8D27;
	color:#ffffff;

	-webkit-transition: all 400ms ease-in;
	-moz-transition: all 400ms ease-in;
	-ms-transition: all 400ms ease-in;
	-o-transition: all 400ms ease-in;
	transition: all 400ms ease-in;
}

.buttonDiv div {
	text-decoration: none;
	background-color: #FFFFFF;
	color: #015ED7;
	border-radius: 5px;

	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}

footer a {
	color : #ffffff;
}

footer a:hover {	
	color: #015ED7;
}

#sobre {
	clear: both;
	width: 70%;
	margin-left:15%; 
	color: #015ED7;
	font-size: 140%;	
	text-align: center;
} 

#programacao {
	text-align: center;
	width: 100%;  
	background-color: #f8f8f8;
}

#programacao h1 {
	color: #FE8D27;
}

#sobre p { 
	margin-top:3%;
	line-height: 200%;
}

.title {
	color: #015ED7;	
	font-size: 180%;
        text-align:center;
}

#sobre a {
	color:#FE8D27;
}

#desconto-cdc {
	display: inline;
	font-size: 150%;
	color:#FE8D27;
	font-weight: bold;
 } 

 #programacao div {
 	width: 45%;
 	display: inline;
 }

#build {
	margin-top: 3%;
	margin-bottom: 4%;
}

#mapa{
  width: 100%; 
  height: 800px;  
}

@media all and (max-width: 800px) {
	header {
		display: none;
	}

	.image {
		width:90%;
		margin:0%;
	}

	#logo {
		width: 100%;
		margin: 0%;
	}

	#div-lateral {
		width: 90%;
		margin-top:3%;
		margin-left: 5%;
	} 

	.call {
		width: 80%;
	}

	.title { 
		font-size: 120%;
	}


	#div-lateral h1 {
		font-size: 300%;
	}

	#div-lateral h4 {
		font-size: 150%;
		margin-bottom: 20%;
	}

	#sobre p {
		text-align: justify;
		font-size: 75%;
	}

	#desconto_cdc {
		display: none;
	}

	#logo-cdc {
		padding-top: 8%;
		padding-bottom: 8%;
	}

	#build {
		width: 60%;
		padding-top: 10%;
	}

	#logo-opai {
		margin-left: 5%;
	}

	#mapa {
		padding-top: 0% !important;
	}

	#arrow {
		display: inline;
		position: fixed;
		bottom: 1%; 
		right: -1%;
	}

	#arrow img {
		width: 80%;
	}
}
.modal-header {
    min-height: 16.4286px;
    padding: 0px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E5E5E5;
}
.modal-content {
    overflow: hidden;
}
.modal-body {
    font-size: 13px;
}

.gray-section {
  background: #f4f4f4;
  margin-top: 60px;
}

.profile-img {
  width: 80%;
}
.profile-img-small {
  width: 50%;
}
.m-t-sm {
  margin-top: 10px;
}
.m-t-l {
  font-size: 20px !important;
  width: 40%;
}
.btn-xs {
      font-size: 20px !important;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
      background-color: #FCF1E8  !important;
      
}

.table-hover>tbody>tr:hover{
    background-color:#D9E5FF !important;
}

.apoio-logo {
    max-width: 40%;
    display: inline !important;
}

.apoio-logo:last-child {
    margin-left: 10%;
    max-width: 30% !important;
}
